.slick-slide > div {
    display: grid;
    grid-gap: 2px;
    /* place-items: center; */
    width: 100%;
    background-color: aqua; 
    height: 100vh;
    /* padding: 0; */
    /* background: red; */
  }
  
  .slick-prev {
    left: 3% !important;
    z-index: 1;
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
  }

.slick-prev:before,
.slick-next:before {
  color: gray !important;
}
